@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-dexter-grey-dark text-foreground;
  }
}

/* Radix Connect button */
:root {
  --radix-connect-button-height: 40px;
  --radix-connect-button-width: 140px;
}
@media (max-width: 700px) {
  :root {
    --radix-connect-button-width: 40px;
    --radix-connect-button-height: 40px;
  }
}

/* create coin form file input */
input.file-input-with-big-plus[type="file"] {
  position: relative;
  border: none;
  color: rgb(82 82 82 / var(--tw-text-opacity)) /* #525252 */;
  cursor: pointer;
  height: 12rem;
}

input.file-input-with-big-plus[type="file"]::after {
  color: rgb(82 82 82 / var(--tw-text-opacity));
  position: absolute;
  content: "+";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16rem;
  pointer-events: none; /* Prevent interaction with the pseudo-element */
}
input.file-input-with-big-plus[type="file"]:hover::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.05);
}

input.file-input-with-big-plus[type="file"]::file-selector-button {
  display: none;
}

.flash-red {
  -webkit-animation-name: animateRedBg; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: animateRedBg;
  animation-duration: 0.3s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animateRedBg {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: #d80b0c;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
/* Standard syntax */
@keyframes animateRedBg {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: #d80b0c;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.flash-green {
  -webkit-animation-name: animateGreenBg; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: animateGreenBg;
  animation-duration: 0.3s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes animateGreenBg {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: #8eb12d;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
/* Standard syntax */
@keyframes animateGreenBg {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: #8eb12d;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

/* To hide the 'Choose file' label on the Create your token page as it's not customizable  */
#image::-webkit-file-upload-button {
  display: none;
}
